
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i');

.wp-block-storypage-hero-section {
  @mixin breakpoint () {
    @media(min-width: 768px) {
      @content;
    }
  }

  position: relative;
  margin-bottom: 20px;
  background-color: #2db8ca;
  background-size: cover;
  background-position: center center;

  // overlay
  .bg-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    display: none;
  }

  // Content section
  section {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 50px 20px 50px 20px;
    max-width: 960px;

    @include breakpoint() {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    &:after {
      clear: both;
      display: block;
      content: " ";
    }
  }

  main {
    font-family: "Roboto Condensed", Impact, Charcoal, sans-serif !important;
    margin-bottom: 20px;

    h1, h2, h3, h4 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 56px;
      color: white;
    }
    p {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 20px;
      color: white;
    }
    .wp-block-button__link {
      display: inline-block;
      margin: 0 20px 20px 0;
      padding: 10px 20px;
      border: 1px solid white;
      border-radius: 0 !important;
      color: white;
      background-color: transparent;
      text-decoration: none;
    }
  }

  .image-feature {
    display: block;
    clear: both;
    width: 250px;
    min-height: 500px;
    margin: 0 auto;
    // border: 4px solid #333;
    // border-radius: 20px;

    img {
      border: 0;
      width: 100%;
      height: auto;
    }
  }

  // Layout variations
  .image-left {
    @include breakpoint() {
      .image-feature {
        clear: none;
        margin-left: 0;
      }
      main {
        float: right;
        width: calc(100% - 300px);
      }
    }
  }

  .image-right {
    @include breakpoint() {
      .image-feature {
        clear: none;
        margin-right: 0;
      }
      main {
        float: left;
        width: calc(100% - 300px);
      }
    }
  }

  .image-left, .image-right {
    @include breakpoint() {
      main {
        margin-top: 120px;
      }
    }
  }
}


// InspectorControls overrides
.panel_body-title-hide {
  margin-top: -1em;
  margin-bottom: 1em;
   h2 {
    display: none !important;
   }
   .components-panel__body {
     border-top: none !important;
     margin-top: 0 !important;
     margin-bottom: 0 !important;
   }
}
