
.wp-block-minerva-article-primary {
	.image {
		&.has-parallax {
			background-attachment: fixed;
		}

		&.has-background-dim:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: rgba( #000, 0.5 );
		}

		@for $i from 1 through 10 {
			&.has-background-dim.has-background-dim-#{ $i * 10 }:before {
				background-color: rgba( #000, $i * 0.1 );
			}
		}
	}
}

.js .wp-block-minerva-article-primary.hero.bg-image .image {
	bottom: 0;
	height: auto;
}
