div.wp-block-minerva-article-secondary {
	a {
		color: inherit;

		&:hover {
			text-decoration: none;

			.minerva-article-title,
			.minerva-author-name {
				text-decoration: underline;
			}
		}
	}
	.minerva-article-title {
		font-size: 60px;
	}

	.minerva-article-category {
		margin-right: 9.5px;
	}

	.minerva-article-teaser {
		line-height: 1.58;

		p {
			display: inline;
			font-size: 19px;
		}
	}

	&.layout-col4 {
		.minerva-article-title {
			font-size: 36px;
			line-height: 1.2;
		}
	}
}

// editor
.layout-col4 {
	div.wp-block-minerva-article-secondary {
		.minerva-article-title {
			font-size: 36px;
			line-height: 1.2;
		}
	}
}
