div.wp-block-minerva-article-secondary {
	.minerva-article-title {
		font-size: 60px;
	}

	.minerva-article-category {
		margin-right: 9.5px;
	}

	.minerva-article-teaser {
		font-size: 19px;

		p {
			display: inline;
		}
	}
}
