div.wp-block-minerva-article-teaser {
  text-align: center;
  margin-bottom: 60px;

  a {
		color: inherit;

		&:hover {
			color: inherit;
			text-decoration: none;

			.minerva-article-title,
			.minerva-author-name {
				text-decoration: underline;
			}
		}
	}

  &:last-of-type {
    margin-bottom: 0;
  }

  .minerva-article-title {
    font-size: 26px;
    color: #BF5048;
    margin-bottom: 9.5px;
  }

  .minerva-article-teaser {
		font-size: 16px;
    margin-bottom: 9.5px;
  }

  .minerva-article-author {
    justify-content: center;
    margin-top: 0;
  }
}
