
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i');

.wp-block-storypage-hero {
  @mixin breakpoint () {
    @media(min-width: 768px) {
      @content;
    }
  }

  position: relative;
  margin-bottom: 20px;
  background-color: #2db8ca;
  background-size: cover;
  background-position: center center;

  // overlay
  .bg-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    display: none;
  }

  // Content section
  section {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 50px 20px 50px 20px;
    max-width: 960px;

    @include breakpoint() {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    &:after {
      clear: both;
      display: block;
      content: " ";
    }
  }

  h2, p, footer .btn, footer button {
    font-family: "Roboto Condensed", Impact, Charcoal, sans-serif !important;
    color: white;
  }

  header {
    h2 {
      font-size: 56px;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }

  footer {
    margin-bottom: 20px;
    button, .btn {
      display: inline-block;
      margin: 0 20px 20px 0;
      padding: 10px 20px;
      border: 1px solid white;
      text-decoration: none;
    }
  }

  figure {
    display: block;
    clear: both;
    width: 250px;
    min-height: 500px;
    margin: 0 auto;
    // border: 4px solid #333;
    // border-radius: 20px;

    img {
      border: 0;
      width: 100%;
      height: auto;
    }
  }


  // Layout variations
  .image-left {
    @include breakpoint() {
      figure {
        clear: none;
        margin-left: 0;
      }
      header, footer {
        float: right;
        width: calc(100% - 300px);
      }
    }
  }

  .image-right {
    @include breakpoint() {
      figure {
        clear: none;
        margin-right: 0;
      }
      header, footer {
        float: left;
        width: calc(100% - 300px);
      }
    }
  }

  .image-left, .image-right {
    @include breakpoint() {
      header {
        margin-top: 120px;
      }
    }
  }
}
