
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i');

.wp-block-storypage-hero {
  @mixin breakpoint () {
    @media(min-width: 768px) {
      @content;
    }
  }

  margin-bottom: 20px;
  position: relative;
  background-color: #2db8ca;

  // Image background
  .image-background {
    display: none;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center center;

    div {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: black;
      opacity: 0.5;
    }
  }

  // Content section
  section {
    margin: 0 auto;
    padding: 50px 20px 50px 20px;
    z-index: 10;
    max-width: 960px;

    @include breakpoint() {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    &:after {
      clear: both;
      display: block;
      content: " ";
    }
  }

  h2, p, footer .btn, footer button {
    font-family: "Roboto Condensed", Impact, Charcoal, sans-serif !important;
    color: white;
  }

  header {
    h2 {
      font-size: 56px;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }

  footer {
    margin-bottom: 20px;
    button, .btn {
      display: inline-block;
      margin: 0 20px 20px 0;
      padding: 10px 20px;
      border: 1px solid white;
      text-decoration: none;
    }
  }

  .image-feature {
    display: block;
    clear: both;
    width: 250px;
    min-height: 500px;
    margin: 0 auto;
    // border: 4px solid #333;
    // border-radius: 20px;

    img {
      border: 0;
      width: 100%;
      height: auto;
    }
  }


  // Layout variations
  &.layout-left {
    @include breakpoint() {
      .image-feature {
        clear: none;
        margin-left: 0;
      }
      header, footer {
        float: right;
        width: calc(100% - 300px);
      }
    }
  }

  &.layout-right {
    @include breakpoint() {
      .image-feature {
        clear: none;
        margin-right: 0;
      }
      header, footer {
        float: left;
        width: calc(100% - 300px);
      }
    }
  }

  &.layout-left, &.layout-right {
    @include breakpoint() {
      header {
        margin-top: 120px;
      }
    }
  }

  &.layout-background {
    background-color: transparent !important;

    .image-background {
      display: block;
    }
    .image-feature {
      display: none;
    }
    header, footer {
      float: none;
    }
  }
}
