@import url('http://cloud.webtype.com/css/3fbbf615-718f-48fa-816c-bd86c9440257.css');

article.cw-article {
  font-family: 'Interstate Light', Arial, sans-serif;

  strong {
    color: #d1204e;
    font-weight: 400;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  figure {
    border: thin solid #8c8c8c;
    margin: 0;
    img {
      width: 100%;
    }
  }

  h2 {
    font-family: 'Interstate Black Cond', Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 34px !important;
    font-weight: 400;
  }

  .teaser {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px !important;
  }

  .readmore {
    display: inline-block;
    margin-top: 5px;
    color: #d1204e;
    font-size: 16px;
  }
}
