@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700,700i');

// Variables
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
$white: #fff !default;
$black: #000 !default;

// Fonts
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Crimson Text', Georgia, serif;
$font-family-sans-serif-secondary: 'Roboto Condensed', Impact, Charcoal, sans-serif;
$font-family-base: $font-family-sans-serif !default;

[class^="wp-block-minerva"] {
	font-family: $font-family-base;
	line-height: 1.58;
	font-size: 118.75%;

	h1 {
		font-size: 2em;
		line-height: 1.1;
		font-weight: 600;
	}

	h2 {
    font-size: 1.36842em;
		line-height: 1.15;
		font-weight: 700;
	}

	&.container,
	.container {
		max-width: 1182px;
		margin-left: 19px;
		margin-right: 19px;
		padding: 0px;

		@media (min-width: 1220px) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.editor-rich-text__tinymce.mce-content-body {
		line-height: 1.1;
	}

	.minerva-article-category {
		text-transform: uppercase;
		display: inline-block;
		font-size: 11.4px;
		line-height: 1;

		span {
			border-radius: 2px;
			background-color: $black;
			color: $white;
			padding: 2px 9.5px;
		}
	}

	.minerva-article-title {
		margin-bottom: 28.5px;
	}

	.minerva-article-author {
		margin-top: 28.5px;
		display: flex;
		flex-direction: row;
		align-items: center;

		.minerva-author-avatar {
			border-radius: 50%;
			max-width: 40px;
			margin-right: 9.5px;
		}

		.minerva-article-meta {
			font-family: $font-family-sans-serif-secondary;
			font-size: 14px;
			color: #777;
			display: flex;

			.minerva-author-name {
				margin-right: 9.5px;
			}

			.minerva-article-avatar {
				max-width: 40px;
			}
		}
	}
}

.wp-block-gutenbergjs-row {
	margin-bottom: 76px;
}

.wp-block-gutenbergjs-section,
.wp-block-gutenbergjs-row {
	grid-gap: 2em;
}

// editor
.gutenberg__editor {
	.wp-block-gutenbergjs-section,
	.wp-block-gutenbergjs-row {
		> .editor-inner-blocks {
			grid-gap: 2em;
		}
	}
}

.wp-block-button {
	.wp-block-button__link {
		border-radius: 0;
		border: 1px solid $black;
		font-family: $font-family-sans-serif-secondary;
	}
}
