@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
	margin: 0px;
	font-family: system-ui;
	font-size: 13px;
}

button, 
input, 
select, 
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.screen-reader-text, 
.screen-reader-text span, 
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important;
}
