.gutenberg {
	position: relative;

	@media (min-width: 782px) {
		.edit-post-header {
			left: 0px;
		}
	}

	.edit-post-visual-editor {
		.editor-post-title,
		.editor-block-list__block,
		.editor-default-block-appender {
			max-width: initial;
		}		
	}
}

