@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
	margin: 0px;
	font-family: system-ui;
	font-size: 13px;
}

button, 
input, 
select, 
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.gutenberg {
	position: relative;
}

@media (min-width: 600px) {
	.edit-post-header {
		position: initial;
	}

	.edit-post-layout {
		padding-top: 0px;
	}
}

@media (min-width: 782px) {
	.edit-post-sidebar {
    	top: 137px;
	}
}

.edit-post-visual-editor .editor-block-list__block {
	max-width: initial;
}