@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
	margin: 0px;
	font-family: system-ui;
	font-size: 13px;
}

button, 
input, 
select, 
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.screen-reader-text, 
.screen-reader-text span, 
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important;
}
.edit-post-layout .components-notice-list .notice {
	position: relative;
	top: 56px;
}

.edit-post-visual-editor {
	padding-top: 106px;
}

#bulk-titles div a:before, 
.notice-dismiss:before, 
.tagchecklist .ntdelbutton .remove-tag-icon:before, 
.welcome-panel .welcome-panel-close:before {
    background: 0 0;
    color: #72777c;
    content: "\f153";
    display: block;
    font: 400 16px/20px dashicons;
    speak: none;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 600px) {
	.edit-post-layout {
		padding-top: 0px;
	}
}

@media (min-width: 782px) {
	.edit-post-header {
	    top: 0px;
	}

	.edit-post-sidebar {
		top: 56px;
	}
}

/*------------------------------------------------------------------------------
  4.0 - Notifications
------------------------------------------------------------------------------*/

.notice,
div.updated,
div.error {
	background: #fff;
	border-left: 4px solid #fff;
	box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	margin: 5px 15px 2px;
	padding: 1px 12px;
}

div[class="update-message"] { /* back-compat for pre-4.6 */
	padding: 0.5em 12px 0.5em 0;
}

.notice p,
.notice-title,
div.updated p,
div.error p,
.form-table td .notice p {
	margin: 0.5em 0;
	padding: 2px;
}

.error a {
	text-decoration: underline;
}

.updated a {
	padding-bottom: 2px;
}

.notice-alt {
	box-shadow: none;
}

.notice-large {
	padding: 10px 20px;
}

.notice-title {
	display: inline-block;
	color: #23282d;
	font-size: 18px;
}

.wp-core-ui .notice.is-dismissible {
	padding-right: 38px;
	position: relative;
}

.notice-dismiss {
	position: absolute;
	top: 0;
	right: 1px;
	border: none;
	margin: 0;
	padding: 9px;
	background: none;
	color: #72777c;
	cursor: pointer;
}

.notice-dismiss:hover:before,
.notice-dismiss:active:before,
.notice-dismiss:focus:before {
	color: #c00;
}

.notice-dismiss:focus {
	outline: none;
	box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
}

.ie8 .notice-dismiss:focus {
	outline: 1px solid #5b9dd9;
}

.notice-success,
div.updated {
	border-left-color: #46b450;
}

.notice-success.notice-alt {
	background-color: #ecf7ed;
}

.notice-warning {
	border-left-color: #ffb900;
}

.notice-warning.notice-alt {
	background-color: #fff8e5;
}

.notice-error,
div.error {
	border-left-color: #dc3232;
}

.notice-error.notice-alt {
	background-color: #fbeaea;
}

.notice-info {
	border-left-color: #00a0d2;
}

.notice-info.notice-alt {
	background-color: #e5f5fa;
}

.update-message p:before,
.updating-message p:before,
.updated-message p:before,
.import-php .updating-message:before,
.button.updating-message:before,
.button.updated-message:before,
.button.installed:before,
.button.installing:before {
	display: inline-block;
	font: normal 20px/1 'dashicons';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: top;
}

.wrap .notice,
.wrap div.updated,
.wrap div.error,
.media-upload-form .notice,
.media-upload-form div.error {
	margin: 5px 0 15px;
}

.wrap #templateside .notice {
	display: block;
	margin: 0;
	padding: 5px 8px;
	font-weight: 600;
	text-decoration: none;
}

.wrap #templateside span.notice {
	margin-left: -12px;
}

#templateside li.notice a {
	padding: 0;
}

/* Update icon. */
.update-message p:before,
.updating-message p:before,
.import-php .updating-message:before,
.button.updating-message:before,
.button.installing:before {
	color: #f56e28;
	content: "\f463";
}

/* Spins the update icon. */
.updating-message p:before,
.import-php .updating-message:before,
.button.updating-message:before,
.button.installing:before {
	-webkit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
}

/* Updated icon (check mark). */
.updated-message p:before,
.installed p:before,
.button.updated-message:before {
	color: #79ba49;
	content: '\f147';
}

/* Error icon. */
.update-message.notice-error p:before {
	 color: #dc3232;
	 content: "\f534";
}

.wrap .notice p:before,
.import-php .updating-message:before {
	margin-right: 6px;
	vertical-align: bottom;
}

#update-nag,
.update-nag {
	display: inline-block;
	line-height: 19px;
	padding: 11px 15px;
	font-size: 14px;
	text-align: left;
	margin: 25px 20px 0 2px;
	background-color: #fff;
	border-left: 4px solid #ffba00;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

ul#dismissed-updates {
	display: none;
}

form.upgrade {
	margin-top: 8px;
}

form.upgrade .hint {
	font-style: italic;
	font-size: 85%;
	margin: -0.5em 0 2em 0;
}

.update-php .spinner {
	float: none;
	margin: -4px 0;
}

#ajax-loading,
.ajax-loading,
.ajax-feedback,
.imgedit-wait-spin,
.list-ajax-loading { /* deprecated */
	visibility: hidden;
}

#ajax-response.alignleft {
	margin-left: 2em;
}

.button.updating-message:before,
.button.updated-message:before,
.button.installed:before,
.button.installing:before {
	margin: 3px 5px 0 -2px;
}

.button-primary.updating-message:before {
	color: #fff;
}

.button-primary.updated-message:before {
	color: #66c6e4;
}

.button.updated-message {
	transition-property: border, background, color;
	transition-duration: .05s;
	transition-timing-function: ease-in-out;
}

@media aural {
	.wrap .notice p:before,
	.button.installing:before,
	.button.installed:before,
	.update-message p:before {
		speak: none;
	}
}
